@model EM_SPT.Models.ListKlass
@{
    ViewData["Title"] = "Администратор ОО";
}
<!DOCTYPE html>


<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <noscript><meta http-equiv="refresh" content="0; URL=/badbrowser.html"></noscript>
    <title>Администратор ОО</title>
</head>
<body class="gradient">

    <ul class="nav nav-tabs">
        <li>
            <a href="#klass" style="float: left;" class="nav-link active" data-toggle="tab">Информация по классам</a>
        </li>
        <li>
            <a href="#otch" style="float: left;" class="nav-link" data-toggle="tab">Формирование отчетов</a>
        </li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane active " id="klass">
            <form method="post" asp-controller="Home">
                <div class="form-row shadow p-3 mb-5 bg-white rounded">


                    <div class="form-group col-md-12">
                        <select id="idKlass" class="form-control">
                            <option value="0" selected>Все классы</option>
                            @foreach (klass row in Model.klasses)
                            {
                                <option value="@row.id">Класс: @row.klass_n Код класса: @row.id</option>
                            }
                        </select>


                        <br />
                        <table id="stat" class="table table-striped table-hover table-sm"></table>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                        <script>
                            $("#idKlass").change(function () { // задаем функцию при нажатиии на элемент <button>
                                var n = document.getElementById("idKlass").options.selectedIndex;
                                var id = document.getElementById("idKlass").options[n].value;


                                $.ajax({
                                    url: '/Home/SpisokKlassa/',
                                    type: "POST",
                                    dataType: "json",
                                    data: { "id": id },
                                    success: function (query) {
                                        var tableArr = ['<table >'];
                                        var sum = 0;
                                        tableArr.push('<tr><th style="width: 15%">Код класса</th><th style="width: 15%">Номер учащегося</th><th style="width: 25%">Логин</th><th style="width: 25%">Пароль</th><th style="width: 25%">Тест пройден</th></tr>');
                                        for (i = 0; i < query.length; i++) {
                                            tableArr.push('<tr><td>' + query[i].id_klass + '</td><td>' + query[i].id + '</td><td >' + query[i].login + '</td><td>' + query[i].pass + '</td><td>' + query[i].test + '</td></tr>');
                                            if (query[i].test == "1") { sum++ }
                                        }

                                        tableArr.push('<tfoot class=" alert-dark btn-outline-success"><tr><td>Всего </td><td>' + query.length + '</td><td></td><td></td><td>' + sum + '</td></tr></tfoot>');
                                        tableArr.push('</table>');
                                        document.getElementById('stat').innerHTML = tableArr.join('\n')
                                    }
                                });
                            });

                                                    /*   window.addEventListener("DOMContentLoaded", function () {
                                                           var but = document.querySelectorAll(".button_del1");

                                                           [].forEach.call(but, function (item) {
                                                               item.addEventListener("click", function () {
                                                                   res = item.value
                                                               })
                                                           })
                                                       });*/


                        </script>







                    </div>

                    @*<div class="alert alert-success col-md-12" role="alert">Список классов</div>


                        <button class="btn btn-outline-success " data-toggle="modal" data-target="#addklass" form="0">Добавить класс</button>*@



                </div>

            </form>
        </div>






        <div class="tab-pane fade " id="otch">
            <form method="post" asp-controller="Home">
                <div class="form-row shadow p-3 mb-5 bg-white rounded">
                    <div class="form-group col-md-6">
                        <div class="form-group col-md-12">
                            <select id="inputState" class="form-control" asp-for="id">
                                <option value="0" selected>Все классы</option>
                                @foreach (klass row in Model.klasses)
                                {
                                    <option value="@row.id" selected>Класс: @row.klass_n Код класса: @row.id</option>
                                }
                            </select>
                        </div>

                    </div>
                    <div class="form-group col-md-6">
                        <button class="btn btn-outline-success " asp-controller="Home" asp-action="Excel">Загрузить отчет</button>
                    </div>



                </div>
            </form>
        </div>
    </div>

    <!-- Modal addklass -->
    @*  <div class="modal fade bs-example-modal-lg" id="addklass" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Добавить класс</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        <div class="modal-body">
                            <input type="hidden" asp-for="i" />
                            <table>
                                <tr>
                                    <td>Количество учеников</td>
                                    <td>
                                        <input type="text" value="" asp-for="Ta" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="" asp-controller="Lk" asp-action="Add_klass">Добавить класс</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>*@
</body>
</html>