@using System.Linq
@model EM_SPT.Models.SpisParam
@*@model EM_SPT.Models.FileModel*@
@{
    ViewData["Title"] = "Администратор";
}
<!DOCTYPE html>


<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <noscript><meta http-equiv="refresh" content="0; URL=/badbrowser.html"></noscript>
    <title>Администратор</title>
</head>
<body class="gradient">

    @*<script src="lib/signalr.min.js"></script>*@

    @*  <script>
            var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

            //Disable send button until connection is established
            document.getElementById("sendButton").disabled = true;

            connection.on("ReceiveMessage", function (user, message) {
                var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
                var encodedMsg = user + " says " + msg;
                var li = document.createElement("li");
                li.textContent = encodedMsg;
                document.getElementById("messagesList").appendChild(li);
            });

            connection.start().then(function () {
                document.getElementById("sendButton").disabled = false;
            }).catch(function (err) {
                return console.error(err.toString());
            });

            document.getElementById("sendButton").addEventListener("click", function (event) {
                var user = document.getElementById("userInput").value;
                var message = document.getElementById("messageInput").value;
                connection.invoke("SendMessage", user, message).catch(function (err) {
                    return console.error(err.toString());
                });
                event.preventDefault();
            });




        </script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <ul class="nav nav-tabs">
        <li>
            <a href="#klass" style="float: left;" class="nav-link active" data-toggle="tab">Управление МО</a>
        </li>
        <li>
            <a href="#otch" style="float: left;" class="nav-link" data-toggle="tab">Формирование отчетов</a>
        </li>
        <li>
            <a href="#param" style="float: left;" class="nav-link" data-toggle="tab">Параметры тестирования</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="klass">
            <script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>

            @* <script>

                    let hubUrl = 'http://localhost:44383/chatHub';
                    const hubConnection = new signalR.HubConnectionBuilder()
                        .withUrl(hubUrl)
                        .configureLogging(signalR.LogLevel.Information)
                        .build();

                    hubConnection.on("Send", function (data) {

                        let elem = document.createElement("p");
                        elem.appendChild(document.createTextNode(data));
                        let firstElem = document.getElementById("chatroom").firstChild;
                        document.getElementById("chatroom").insertBefore(elem, firstElem);

                    });

                    document.getElementById("sendBtn").addEventListener("click", function (e) {
                        let message = document.getElementById("message").value;
                        hubConnection.invoke("Send", message);
                    });

                    hubConnection.start();

                </script>*@

            @*  <script>
                var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
                // alert(1);
                //Disable send button until connection is established
                document.getElementById("sendButton").disabled = false;
                //connection.start()

                connection.on("ReceiveMessage", function (user, message) {
                    var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
                    var encodedMsg = user + " says " + msg;
                    var li = document.createElement("li");
                    li.textContent = encodedMsg;
                    document.getElementById("messagesList").appendChild(li);
                    alert(2);
                });

                connection.start().then(function () {
                    document.getElementById("sendButton").disabled = false;
                    //    alert(4);
                }).catch(function (err) {
                    return console.error(err.toString());
                });


                document.getElementById("sendButton").addEventListener("click", function (event) {
                    var user = document.getElementById("userInput").value;
                    var message = document.getElementById("messageInput").value;
                    connection.invoke("SendMessage", user, message).catch(function (err) {
                        return console.error(err.toString());
                        alert(3);
                    });
                    event.preventDefault();
                });
                    </script>*@
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" id="prog" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
            </div>
            <button class="btn btn-outline-success " id="adklass" form="0">Сформировать</button>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script>
                $("#adklass").click(function () {
                    var load = 0;
                    var pr = document.getElementById('prog');
                    //  for (load; load < 101;) {
                    $.ajax({
                        url: '/Home/load/',
                        type: "POST",
                        dataType: "json",
                        data: { "load": load },
                        success: function (g_load) {
                            //var pr = document.getElementById('prog');
                            //pr.innerText = g_load + '%';
                            //$('#prog').attr('aria-valuenow', g_load).css('width', g_load + '%').text = g_load;
                            //load = g_load;
                            //alert(g_load);
                        }
                    });


                    //var pr = document.getElementById('prog');
                    //pr.innerText = load + '%';
                    //$('#prog').attr('aria-valuenow', load).css('width', load + '%').text = '60';


                });
            </script>







            <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="SendEmail">
                @*<div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" id="prog" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                    <button class="btn btn-outline-success " id="adklass" form="0">Сформировать</button>
                    <button class="btn btn-outline-success " id="KolvoLoad" form="0">Сформировать1</button>*@
                <button class="btn btn-outline-success " id="izmDB" form="0">Проверка</button>
                <script>

                    $("#izmDB").click(function () { // задаем функцию при нажатиии на элемент <button>




                        $.ajax({
                            url: '/Home/izmDB/',
                            type: "POST",
                            dataType: "json",
                            success: function (query) {
                                // alert(query);
                            }


                        });
                    });

                    let hubUrl = 'http://localhost:44383/chatHub';
                    const hubConnection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

                    // получение сообщения от сервера
                    hubConnection.on('Notify', function (message) {
                        //     alert("fsd");
                        // создает элемент <p> для сообщения пользователя
                        let elem = document.createElement("p");
                        elem.appendChild(document.createTextNode(message));


                        // document.getElementById("notify").appendChild(elem);
                        var q = message.toString();
                        var pr = document.getElementById('prog');
                        pr.innerText = q + '%';
                        $('#prog').attr('aria-valuenow', q).css('width', q + '%').text = q;
                    });
                    hubConnection.start();
                </script>

























                <script>

                                                                                                                                                                                                                //$("#KolvoLoad").click(function () { // задаем функцию при нажатиии на элемент <button>




                                                                                                                                                                                                                //    $.ajax({
                                                                                                                                                                                                                //        url: '/Home/UpdateLoad/',
                                                                                                                                                                                                                //        type: "POST",
                                                                                                                                                                                                                //        dataType: "json",
                                                                                                                                                                                                                //        success: function (query) {
                                                                                                                                                                                                                //            alert(query);
                                                                                                                                                                                                                //        }



                                                                                                                                                                                                                //    });
                                                                                                                                                                                                                //});



                                                                                                                                                                                                                //$("#adklass").click(function () { // задаем функцию при нажатиии на элемент <button>

                                                                                                                                                                                                                //    var id = 1;


                                                                                                                                                                                                                //    $.ajax({
                                                                                                                                                                                                                //        url: '/Home/SpisokAdmOO/',
                                                                                                                                                                                                                //        type: "POST",
                                                                                                                                                                                                                //        dataType: "json",
                                                                                                                                                                                                                //        data: { "id": id },
                                                                                                                                                                                                                //        success: function (query) {
                                                                                                                                                                                                                //            var tableArr = ['<table class="tab">'];
                                                                                                                                                                                                                //            tableArr.push('<thead ><tr><th style="width: 40%">Код ОО/ название</th><th style="width: 30%">Логин</th><th style="width: 30%">Пароль</th></tr></thead>');
                                                                                                                                                                                                                //            for (i = 0; i < query.length; i++) {
                                                                                                                                                                                                                //                var q = query[i].tip == 1 ? 'СОШ' : query[i].tip == 2 ? 'СПО' : 'ВУЗ';
                                                                                                                                                                                                                //                tableArr.push('<tr><td>' + query[i].id_oo + ' ' + query[i].kod + '</td><td >' + query[i].login + '</td><td>' + query[i].pass + '</td></tr>');
                                                                                                                                                                                                                //                if (query[i].test == "1") { sum++ }
                                                                                                                                                                                                                //            }

                                                                                                                                                                                                                //            tableArr.push('<tfoot class=""><tr><td>Всего </td><td>' + query.length + '</td><td></td></tr></tfoot>');
                                                                                                                                                                                                                //            tableArr.push('</table>');
                                                                                                                                                                                                                //            document.getElementById('stat2').innerHTML = tableArr.join('\n')
                                                                                                                                                                                                                //        }
                                                                                                                                                                                                                //    });
                                                                                                                                                                                                                //});
                </script>
            </form>
            <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Added">
                <div class="form-row shadow p-3 mb-5 bg-white rounded">

                    <div class="alert alert-success col-md-12" role="alert">Формирование учетных записей</div>

                    <p>Скачайте файл шаблон для заполнения, заполните все поля и загрузите, чтобы сформировать логины и пароли для всех МО <a href="~/file/Formir_MO.xlsx">Шаблон для заполнения</a></p>
                    <p class="alert-danger">Внимание!!! при формировании логинов удаляются все старые логины и пароли кроме пароля администратора!!!</p>



                    @*<div class="file">
                            <div class="form-group">
                                <input type="file" name="uploadedFile" id="uploadedFile" class="input-file" required>
                                <label for="uploadedFile" class="btn btn-tertiary js-labelFile">
                                    <i class="icon fa fa-check"></i>
                                    <span class="js-fileName">Загрузить файл</span>
                                </label>
                            </div>
                        </div>*@



                    <input type="file" name="uploadedFile" /><br>
                    <input class="btn btn-outline-success" type="submit" id="inputGroupFileAddon04" value="Загрузить" />

                    @*<div class="input-group">
                                    <div class="file">
                            <div class="form-group">
                                <input type="file" name="uploadedFile" id="uploadedFile" class="input-file" required>
                                <label for="uploadedFile" class="btn btn-tertiary js-labelFile">
                                    <i class="icon fa fa-check"></i>
                                    <span class="js-fileName">Загрузить файл</span>
                                </label>
                            </div>
                        </div>

                        <input type="submit" value="Загрузить" />

                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="uploadedFile" id="uploadedFile" aria-describedby="inputGroupFileAddon04" lang="ru">
                                <label class="custom-file-label" for="inputGroupFile04">Выберите файл</label>
                            </div>
                            <div class="input-group-append">

                            </div>
                        </div>

                        <button class="btn btn-outline-success " data-toggle="modal" data-target="#addklass" form="0">Сформировать МО</button>*@




                </div>
            </form>
            <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="AddedUserRaion">
                <div class="form-row shadow p-3 mb-5 bg-white rounded">

                    <div class="alert alert-success col-md-12" role="alert">Формирование учетных записей</div>

                    <p>Скачайте файл шаблон для заполнения, заполните все поля и загрузите, чтобы сформировать логины и пароли для всех МО <a href="~/file/forma1.xlsx">Шаблон для заполнения</a></p>



                    <input type="file" name="uploadedFile" multiple /><br>
                    <input class="btn btn-outline-success" type="submit" id="inputGroupFileAddon04" value="Загрузить" />
                    @*   <button class="btn btn-outline-success form-group col-md-4" asp-action="CleanDB">Очистить БД</button>*@

                </div>
            </form>

            <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Spisok_full">
                <div class="form-row shadow p-3 mb-5 bg-white rounded">
                    <div class="alert alert-success col-md-12" role="alert">Список МО </div>
                    <input class="btn btn-outline-success" type="submit" id="wq" value="Сформировать" />
                    @if (Model.Mos.Count != 0)
                    {
                        <div class="input-group">
                            <table class="tab">
                                <thead class="thead-light">
                                    <tr>
                                        <th width="20%">MO</th>
                                        <th width="10%">Количество СОШ</th>
                                        <th width="10%">Тест пройден в СОШ</th>
                                        <th width="10%">Количество СПО</th>
                                        <th width="10%">Тест пройден в СПО</th>
                                        <th width="10%">Количество ВУЗ</th>
                                        <th width="10%">Тест пройден в ВУЗ</th>
                                        <th width="10%">Количество ОО</th>
                                        <th width="10%">Тест пройден в ОО</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @for (int i = 0; i < Model.Mos.Count; i++)
                                    {
                                        <tr>
                                            <td>@Model.Mos[i].name </td>
                                            <td>@Model.Mos[i].kol_OO</td>
                                            <td>@Model.Mos[i].kol_OO_t</td>
                                            <td>@Model.Mos[i].kol_SPO</td>
                                            <td>@Model.Mos[i].kol_SPO_t</td>
                                            <td>@Model.Mos[i].kol_VUZ</td>
                                            <td>@Model.Mos[i].kol_VUZ_t</td>
                                            <td class="tab-itog">@Model.Mos[i].sum_OO</td>
                                            <td class="tab-itog">@Model.Mos[i].sum_t</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot class=" ">
                                    <tr>
                                        <td>Всего </td>
                                        <td>@ViewData["SumKolOO"]</td>
                                        <td>@ViewData["SumKolOO_t"]</td>
                                        <td>@ViewData["SumKolSPO"]</td>
                                        <td>@ViewData["SumKolSPO_t"]</td>
                                        <td>@ViewData["SumKolVUZ"]</td>
                                        <td>@ViewData["SumKolVUZ_t"]</td>
                                        <td>@ViewData["Sum"]</td>
                                        <td>@ViewData["Sumt"]</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    }
                </div>





            </form>



        </div>



        <div class="tab-pane fade " id="otch">

            <div class="form-row shadow p-3 mb-5 bg-white rounded">
                <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Pass_excel">
                    <input class="btn btn-outline-success" type="submit" id="wq" value="Сформировать" />
                </form>
                <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Result_po_click_MO">
                    <input class="btn btn-outline-success" type="submit" id="wq" value="Сформировать" />
                </form>
                <table class="tab">
                    <thead class="thead-light">
                        <tr>
                            <th width="20%">MO</th>
                            <th width="10%">Отчет по тестированию</th>
                            <th width="10%">Отчет по паролям</th>

                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Mos.Count; i++)
                        {
                            <tr>
                                <td>@Model.Mos[i].name </td>

                                <td>
                                    <a href="Home/Result_po_click_MO?id=@Model.Mos[i].id&name=@Model.Mos[i].name">Тык</a>


                                </td>
                                <td>

                                <td>
                                    <form action="~/Vgruzka/@Model.Mos[i].name.ToString()_.zip">

                                        <button type="submit" class="btn btn-outline-success" style="background: url(/icon/excel.png) no-repeat 215.5px 10.5px rgba(7, 255, 126, 0.2); background-size: 10%; height: 50px; width:250px">Загрузить отчет</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="~/Vgruzka/@Model.Mos[i].name.ToString()_pass.zip">

                                        <button type="submit" class="btn btn-outline-success" style="background: url(/icon/excel.png) no-repeat 215.5px 10.5px rgba(7, 255, 126, 0.2); background-size: 10%; height: 50px; width:250px">Загрузить отчет</button>
                                    </form>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
        <div class="tab-pane fade " id="param">
            <form method="post" asp-controller="Home">
                <div class="form-row shadow p-3 mb-5 bg-white rounded">
                    <div class="form-group col-md-12">
                        <input type="hidden" asp-for="Params[0].id" />
                        <input type="hidden" asp-for="Params[1].id" />
                        <table class="tab">
                            <thead>
                                <tr><th colspan="2">Название критерия</th><th>Значение СОШ </th><th>Значение СПУ/ВУЗ </th></tr>
                            </thead>
                            <tbody>
                                <tr><th rowspan="2">Факторы риска</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].fr_v" /></th><th><input class="form-control" type="text" asp-for="Params[1].fr_v" /></th></tr>
                                <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].fr_n" /></th><th><input class="form-control" type="text" asp-for="Params[1].fr_n" /></th></tr>
                                <tr><th rowspan="2">Факторы защиты</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].fz_v" /></th><th><input class="form-control" type="text" asp-for="Params[1].fz_v" /></th></tr>
                                <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].fz_n" /></th><th><input class="form-control" type="text" asp-for="Params[1].fz_n" /></th></tr>
                                <tr><th rowspan="2">Потребность в одобрении</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].po_v" /></th><th><input class="form-control" type="text" asp-for="Params[1].po_v" /></th></tr>
                                <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].po_n" /></th><th><input class="form-control" type="text" asp-for="Params[1].po_n" /></tr>
                                <tr><th rowspan="2">Подверженность влиянию группы</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].pvg_v" /></th><th><input class="form-control" type="text" asp-for="Params[1].pvg_v" /></th></tr>
                                <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].pvg_n" /></th><th><input class="form-control" type="text" asp-for="Params[1].pvg_n" /></th></tr>
                                <tr><th rowspan="2">Принятие асоциальных установок социума</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].pau_v" /></th><th><input class="form-control" type="text" asp-for="Params[1].pau_v" /></th></tr>
                                <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].pau_n" /></th><th><input class="form-control" type="text" asp-for="Params[1].pau_n" /></th></tr>
                                <tr><th rowspan="2">Склонность к риску</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].sr_v" /></th><th><input class="form-control" type="text" asp-for="Params[1].sr_v" /></th></tr>
                                <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].sr_n" /></th><th><input class="form-control" type="text" asp-for="Params[1].sr_n" /></th></tr>
                                <tr><th rowspan="2">Импульсивность</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].i_v" /></th><th><input class="form-control" type="text" asp-for="Params[1].i_v" /></th></tr>
                                <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].i_n" /></th><th><input class="form-control" type="text" asp-for="Params[1].i_n" /></th></tr>
                                <tr><th rowspan="2">Тревожность</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].t_v" /></th><th><input class="form-control" type="text" asp-for="Params[1].t_v" /></th></tr>
                                <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].t_n" /></th><th><input class="form-control" type="text" asp-for="Params[1].t_n" /></th></tr>
                                <tr><th rowspan="2">Фрустрация</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].f_v" /></th><th><input class="form-control" type="text" asp-for="Params[1].f_v" /></th></tr>
                                <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].f_n" /></th><th><input class="form-control" type="text" asp-for="Params[1].f_n" /></th></tr>
                                <tr><th rowspan="2">Наркопотребление в социальном окружении</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].nso_v" /></th><th><input class="form-control" type="text" asp-for="Params[1].nso_v" /></th></tr>
                                <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].nso_n" /></th><th><input class="form-control" type="text" asp-for="Params[1].nso_n" /></th></tr>
                                <tr><th rowspan="2">Принятие родителями</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].pr_v" /></th><th><input class="form-control" type="text" asp-for="Params[1].pr_v" /></th></tr>
                                <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].pr_n" /></th><th><input class="form-control" type="text" asp-for="Params[1].pr_n" /></th></tr>
                                <tr><th rowspan="2">Принятие одноклассниками</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].poo_v" /></th><th><input class="form-control" type="text" asp-for="Params[1].poo_v" /></th></tr>
                                <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].poo_n" /></th><th><input class="form-control" type="text" asp-for="Params[1].poo_n" /></th></tr>
                                <tr><th rowspan="2">Социальная активность</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].sa_v" /></th><th><input class="form-control" type="text" asp-for="Params[1].sa_v" /></th></tr>
                                <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].sa_n" /></th><th><input class="form-control" type="text" asp-for="Params[1].sa_n" /></th></tr>
                                <tr><th rowspan="2">Самоконтроль поведения</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].sp_v" /></th><th><input class="form-control" type="text" asp-for="Params[1].sp_v" /></th></tr>
                                <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].sp_n" /></th><th><input class="form-control" type="text" asp-for="Params[1].sp_n" /></th></tr>
                                <tr><th rowspan="2">Самоэффективность</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].s_v" /></th><th><input class="form-control" type="text" asp-for="Params[1].s_v" /></th></tr>
                                <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].s_n" /></th><th><input class="form-control" type="text" asp-for="Params[1].s_n" /></th></tr>
                                <tr><th>Час начала выгрузки отчетов для МО</th><th></th><th colspan="2"><input class="form-control" type="text" asp-for="Params[0].h_otch" /></th></tr>
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>


                    </div>
                    <button type="submit" class="btn btn-outline-success" style="background: url(/icon/save.png) no-repeat 280.5px 7.5px rgba(7, 255, 126, 0.2); background-size: 10%; height: 50px; width:320px" asp-controller="Home" asp-action="Save_Param">Сохранить параметры</button>
                </div>
            </form>
        </div>



        @*Modal editParam-------------------------------------------------------------------------------------*@
        @*<div class="modal fade bs-example-modal-lg" id="editParam" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Изменить значения СОШ</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            <div class="modal-body">
                                <input type="hidden" asp-for="Params[0].id" />
                                <table class="tab">
                                    <thead>
                                        <tr><th colspan="2">Название критерия</th><th>Значение СОШ</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr><th rowspan="2">Факторы риска</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].fr_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].fr_n" /></th></tr>
                                        <tr><th rowspan="2">Факторы защиты</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].fz_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].fz_n" /></th></tr>
                                        <tr><th rowspan="2">Потребность в одобрении</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].po_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].po_n" /></th></tr>
                                        <tr><th rowspan="2">Подверженность влиянию группы</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].pvg_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].pvg_n" /></th></tr>
                                        <tr><th rowspan="2">Принятие асоциальных установок социума</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].pau_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].pau_n" /></th></tr>
                                        <tr><th rowspan="2">Склонность к риску</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].sr_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].sr_n" /></th></tr>
                                        <tr><th rowspan="2">Импульсивность</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].i_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].i_n" /></th></tr>
                                        <tr><th rowspan="2">Тревожность</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].t_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].t_n" /></th></tr>
                                        <tr><th rowspan="2">Фрустрация</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].f_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].f_n" /></th></tr>
                                        <tr><th rowspan="2">Наркопотребление в социальном окружении</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].nso_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].nso_n" /></th></tr>
                                        <tr><th rowspan="2">Принятие родителями</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].pr_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].pr_n" /></th></tr>
                                        <tr><th rowspan="2">Принятие одноклассниками</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].poo_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].poo_n" /></th></tr>
                                        <tr><th rowspan="2">Социальная активность</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].sa_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].sa_n" /></th></tr>
                                        <tr><th rowspan="2">Самоконтроль поведения</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].sp_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].sp_n" /></th></tr>
                                        <tr><th rowspan="2">Самоэффективность</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[0].s_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[0].s_n" /></th></tr>
                                        <tr><th>Час начала выгрузки отчетов для МО</th><th></th><th><input class="form-control" type="text" asp-for="Params[0].h_otch" /></th></tr>
                                    </tbody>
                                    <tfoot>

                                    </tfoot>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                <button type="submit" class="" asp-controller="Home" asp-action="Save_Param">Сохранить параметры</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            @*Modal editParam2-------------------------------------------------------------------------------------
            <div class="modal fade bs-example-modal-lg" id="editParam2" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Изменить значения СПО/ВУЗ</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            <div class="modal-body">
                                <input type="text" asp-for="Params[1].id" />
                                <table class="tab">
                                    <thead>
                                        <tr><th colspan="2">Название критерия</th><th>Значение СПО/ВУЗ</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr><th rowspan="2">Факторы риска</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[1].fr_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[1].fr_n" /></th></tr>
                                        <tr><th rowspan="2">Факторы защиты</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[1].fz_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[1].fz_n" /></th></tr>
                                        <tr><th rowspan="2">Потребность в одобрении</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[1].po_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[1].po_n" /></th></tr>
                                        <tr><th rowspan="2">Подверженность влиянию группы</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[1].pvg_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[1].pvg_n" /></th></tr>
                                        <tr><th rowspan="2">Принятие асоциальных установок социума</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[1].pau_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[1].pau_n" /></th></tr>
                                        <tr><th rowspan="2">Склонность к риску</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[1].sr_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[1].sr_n" /></th></tr>
                                        <tr><th rowspan="2">Импульсивность</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[1].i_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[1].i_n" /></th></tr>
                                        <tr><th rowspan="2">Тревожность</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[1].t_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[1].t_n" /></th></tr>
                                        <tr><th rowspan="2">Фрустрация</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[1].f_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[1].f_n" /></th></tr>
                                        <tr><th rowspan="2">Наркопотребление в социальном окружении</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[1].nso_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[1].nso_n" /></th></tr>
                                        <tr><th rowspan="2">Принятие родителями</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[1].pr_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[1].pr_n" /></th></tr>
                                        <tr><th rowspan="2">Принятие одноклассниками</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[1].poo_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[1].poo_n" /></th></tr>
                                        <tr><th rowspan="2">Социальная активность</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[1].sa_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[1].sa_n" /></th></tr>
                                        <tr><th rowspan="2">Самоконтроль поведения</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[1].sp_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[1].sp_n" /></th></tr>
                                        <tr><th rowspan="2">Самоэффективность</th><th>Верхнее</th><th><input class="form-control" type="text" asp-for="Params[1].s_v" /></th></tr>
                                        <tr><th>Нижнее</th><th><input class="form-control" type="text" asp-for="Params[1].s_n" /></th></tr>

                                    </tbody>
                                    <tfoot>

                                    </tfoot>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                <button type="submit" class="" asp-controller="Home" asp-action="Save_Param">Сохранить параметры</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>*@
</body>
</html>